<!DOCTYPE html>

<div class="container">
  <div class="row">
    <h3 class="text-center">
      <i class='fa fa-shopping-cart'></i>
      <%= t('购物车') %>

    </h3>
    <h4 class="pull-right">
      <%= link_to("清空购物车", clean_carts_path,
                    method: :delete, class: "pull-right",
                    data: { confirm: "你确定要清空整个购物车吗？" }) %>
    </h4>
  </div>

  <hr/>

  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Product</th>
          <th>Name</th>
          <th>Status</th>
          <th>Quantity</th>
          <th class="text-center">Price</th>
          <th class="text-center">Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <% current_cart.cart_items.each do |cart_item| %>
          <td class="col-sm-2 col-md-2">
            <div class="media">
              <div class="thumbnail pull-left" href="#" style="width: 72px; height: 72px;">
                <%= link_to product_path(cart_item.product) do %>
                <% if cart_item.product.image.present? %>
                <%= image_tag(cart_item.product.image.thumb.url, class: "thumbnail") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
                <% end %>
              </div>
            </div>
          </td>
          <td class="col-sm-4 col-md-2 text-left">
            <div class="name">

              <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>

            </div>
          </td>
          <td class="col-sm-2 col-md-1">
            <strong>In Stock</strong>
          </td>
          <span class="text-success">

            <td class="col-sm-1 col-md-1" style="text-align: center">
              <input type="email" class="form-control" id="exampleInputEmail1" value="1">
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong>￥
                <%= cart_item.product.price %></strong>
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong>￥ 19</strong>
            </td>
            <td class="col-sm-1 col-md-1">
              <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
                <%= link_to cart_item_path(cart_item.product_id), method: :delete do %>
                Delete
                <% end %>
              </button>
            </td>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right" style="font-size: 20px;">总计</td>
            <td>

              <div class="total clearfix">
                <span class="text-right" style="font-size: 20px;">

                  <%= render_cart_total_price(current_cart) %>
                  RMB
                </span>
              </div>
            </td>

          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <a href="/products">继续购物</a>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-danger">

                <%= link_to(t("确认结账"), checkout_carts_path, method: :post) %>

                <span class="glyphicon glyphicon-play"></span>
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
