<div class="container">
  <div class="row">

    <% @products.each do |product| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to product_path(product) do %>
          <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url) %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          <% end %>
          <% end %>

          <div class="caption">
            <h4><%= product.title %></h4>
            <p><%= product.price %></p>
            <p>
              <a href="#" class="btn btn-primary" role="button">Button</a>
              <a href="#" class="btn btn-default" role="button">Button</a>
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <div class="page-box">
      <%= will_paginate @products, :previous_label => t('previous-label'), :next_label => t('next-label') %>
    </div>

  </div>
</div>
