<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <h3><%= t('th-products') %></h3>
            <ul class="list-unstyled">
              <li>
                <a href="#s"><%= t('link-latest') %></a>
              </li>
              <li>
                <a href="#s"><%= t('link-exclusive') %></a>
              </li>
              <li>
                <a href="#s"><%= t('link-brands') %></a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3><%= t('th-service-info') %></h3>
            <ul class="list-unstyled">
              <li>
                <a href="#s"><%= t('link-shipping') %></a>
              </li>
              <li>
                <a href="#s"><%= t('link-return') %></a>
              </li>
              <li>
                <a href="#s"><%= t('link-faq') %></a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3><%= t('th-about-us') %></h3>
            <ul class="list-unstyled">
              <li>
                <a href="#s"><%= t('link-story') %></a>
              </li>
              <li>
                <a href="#s"><%= t('link-media') %></a>
              </li>
              <li>
                <a href="#s"><%= t('link-contact') %></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr/>
      <h3>
        <p>Designed By
          <a href="http://jeric-blog.logdown.com/" target="_blank">Jeric</a>
          &
          <a href="http://" target="_blank">XXX</a>
          | Copyright ©2017 bimaibangdan</a>
      </h3>
    </div>
    </div>
  </div>
</footer>
