<html lang="en">
  <head>

    <title>Jdstore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'product_cart', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'product_cart', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Product Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  </head>

  <body>
    <%= render "common/navbar" %>
    <%= render "products/show" %>
    <%= render "common/footer" %>
  </body>
</html>
